@import "styles/variables.scss";

.App {
  display: grid;
  grid-template-rows: $nav-height auto $nav-height/2;
  grid-template-columns: $nav-height*2 auto;
  grid-template-areas:
    "header header"
    "toolbar main"
    "toolbar footer";
  height: 100vh;
  main {
    display: grid;
    grid-area: main;
  }
}